{% extends 'index.html' %}

{% load static %} <!-- style -->
{% block content %}
<div>
    <header class="compHead">
        <h1>Company Homepage</h1>
        <div class="round"></div>
    </header>
    <section>
        <div class="floatA"></div>
        <div class="floatB"></div>
        <div class="floatC"></div>
        <p class="info">
        the current date and time is: (get the date and time)
        <br><br>
        There are 3 items of invertory. <br>
        <ul class="container">
            {% for item in items %}
            <div class="cards card-{{ forloop.counter }}">
                <li>{{ item }}</li>
            </div>
            {% endfor %}
        </ul>

        <div class="endMsg">
            <h4>
                Thank You For Visiting.
            </h4>
        </div>
        </p>
    </section>
</div>

{% endblock content %}
